<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Milayna Cabs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="/static/qr_landing/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/static/qr_landing/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/qr_landing/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/qr_landing/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/qr_landing/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/qr_landing/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/static/qr_landing/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="/static/qr_landing/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/static/qr_landing/css/aos.css">

    <link rel="stylesheet" href="/static/qr_landing/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer" ></script>
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <style>
      .logo_img img {
        padding: 0;
        margin: 0;
        /* max-height: 60px; */
      }
      .services_top{
        margin-top: -50px;
      }
      .logo_img {
        background: white;
        border-radius: 50%;
        padding: 5px 8px;
        width: 100px;
        height: 100px;
        display: flex;
        padding: 0px 10px;
        align-items: center;
      }

      @media screen and (max-width: 912px){
        .head_content{
          padding: 0rem 3rem !important;
        }
        .services_top{
          margin-top: -40px !important;
        }
      }

      @media screen and (max-width: 768px){
        .site-section-cover p {
          font-size: 1.5rem !important;
        }
        .head_content{
          padding: 0rem 3rem !important;
        }
        .services_top{
          margin-top: -35px !important;
        }
      }
      @media screen and (max-width: 540px){
        .site-section-cover p {
          font-size: 0.9rem !important;
          /* padding: 0 1.4rem; */
        }
        .site-section-cover h1 {
          padding: 0 8px;
        }
        .head_content{
          padding: 0rem 2.9rem !important;
        }
        .slide-one-item .owl-nav .owl-prev{
          left: 7px !important;
        }
        .slide-one-item .owl-nav .owl-next{
          right: 7px !important;
        }
        .services_top{
          margin-top: -18px !important;
        }
        .services_top{
          margin-top: -30px !important;
        }
        .slide-one-item .owl-nav .owl-prev, .slide-one-item .owl-nav .owl-next {
          font-size: 3rem !important;
        }
      }

      @media screen and (max-width: 415px){
        .site-section-cover p {
          font-size: 0.9rem !important;
          /* padding: 0 1.7rem; */
        }
        .head_content{
          padding: 0rem 3.75rem !important;
        }
        .slide-one-item .owl-nav .owl-prev{
          left: 10px !important;
        }
        .slide-one-item .owl-nav .owl-next{
          right: 10px !important;
        }
        .services_top{
          margin-top: -18px !important;
        }
        .slide-one-item .owl-nav .owl-prev, .slide-one-item .owl-nav .owl-next {
          font-size: 2.5rem !important;
        }
      }


      @media screen and (max-width: 300px){
        .site-section-cover p {
          font-size: 0.8rem !important;
          /* padding: 0 2rem; */
        }
        .head_content{
          padding: 0rem 2.8rem !important;
        }
        .slide-one-item .owl-nav .owl-prev{
          left: 10px;
        }
        .slide-one-item .owl-nav .owl-next{
          right: 10px;
        }

        .site-section-cover h1 {
          font-size: 1rem;
        }

        .head_content span{
          font-size: 1rem;
        }
        .logo_img{
          width: 80px;
          height: 80px;
        }
        .services_top{
          margin-top: -10px !important;
        }
        .slide-one-item .owl-nav .owl-prev, .slide-one-item .owl-nav .owl-next {
          font-size: 2rem !important;
        }
      }

      .scrollwh {
        position: fixed;
        left: 1rem;
        bottom: -30%;
        /* box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1); */
        display: inline-flex;
        padding: .27rem;
        z-index: 1000;
        opacity: .8;
        transition: .4s;

      }

      .scrollwh:hover {
        opacity: 1;
      }
      .scrollwh__icon {
        font-size: 1.9rem;
        color: #06ba24;
      }
      /* Show Scroll Up*/
      .show-scroll {
        bottom: 6% !important;
      }

      .brand{
        font-family: cursive;
      }
    </style>
  
  <div class="site-wrap"  id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
      
    <!-- <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center position-relative">
          
            
            <div class="site-logo">
              <a href="index.html" class="text-black"><span class="text-primary">Inves</a>
            </div>
            
              <nav class="site-navigation text-center ml-auto" role="navigation">

                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  <li><a href="#home-section" class="nav-link">Home</a></li>
                  <li><a href="#investors-section" class="nav-link">Investors</a></li>
                  <li><a href="#about-section" class="nav-link">About</a></li>
                  <li><a href="#services-section" class="nav-link">Services</a></li>
                  <li><a href="#press-section" class="nav-link">Press</a></li>
                  
                  
                  <li><a href="#blog-section" class="nav-link">Blog</a></li>
                  <li><a href="#contact-section" class="nav-link">Contact</a></li>
                </ul>
              </nav>
          
            

          <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header> -->
    
    <div class="owl-carousel slide-one-item">
      

      

      <div class="site-section-cover overlay img-bg-section" style="background-image: url('/static/qr_landing/images/hero_1.jpg'); " >
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-12 col-lg-7 text-center head_content">
              <div class="logo_img" style="margin: auto;">
                <img src="/static/assets/images/logo_3.png" alt="">
              </div>
              <!-- <div class="logo w-100 d-flex justify-content-center">
                <img src="/static/assets/images/logo_3.png" style="width: 110px;" alt="">
              </div> -->
              <h1 class="font-weight-bold"><span class="brand">MILAYNA</span> Cab Service</h1>
              <span class="font-weight-bold text-white h5">Your Trusted Travel Companion</span>
              <p>Count on us for reliable transportation solutions tailored to your needs. From quick pickups to long-distance travels, our professional drivers ensure a smooth and enjoyable ride every time.</p>
              <p><a href="tel: +91 80861 47845" class="btn btn-white-outline border-w-2 btn-md text-uppercase">Contact Us</a></p>
            </div>
          </div>
        </div>

      </div>

      <div class="site-section-cover overlay img-bg-section" style="background-image: url('/static/qr_landing/images/hero_2.jpg'); " >
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-12 col-lg-7 text-center head_content">
              <div class="logo_img" style="margin: auto;">
                <img src="/static/assets/images/logo_3.png" alt="">
              </div>
              <!-- <div class="logo w-100 d-flex justify-content-center">
                <img src="/static/assets/images/logo_3.png" style="width: 110px;" alt="">
              </div> -->
              <h1 class="font-weight-bold"><span class="brand">MILAYNA</span> Cab Services</h1>
              <span class="font-weight-bold text-white h5">Effortless Travel, Exceptional Service</span>
              <p>Simplify your commuting experience with our efficient cab services. With a fleet of well-maintained vehicles and courteous drivers, we promise stress-free journeys that exceed your expectations.</p>    
              <p><a href="tel: +91 80861 47845" class="btn btn-white-outline border-w-2 btn-md text-uppercase">Contact Us</a></p>
            </div>
          </div>
        </div>

      </div>

      <div class="site-section-cover overlay img-bg-section" style="background-image: url('/static/qr_landing/images/hero_3.jpg'); " >
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-12 col-lg-7 text-center head_content">
              <div class="logo_img" style="margin: auto;">
                <img src="/static/assets/images/logo_3.png" alt="">
              </div>
              <!-- <div class="logo w-100 d-flex justify-content-center">
                <img src="/static/assets/images/logo_3.png" style="width: 110px;" alt="">
              </div> -->
              <h1 class="font-weight-bold"><span class="brand">MILAYNA</span> Cab Services</h1>
              <span class="font-weight-bold text-white h5">Journey Beyond Boundaries</span>
              <p>Explore new horizons with our comprehensive cab services. Wherever your destination may be, our dedicated team is committed to providing safe, convenient, and memorable travel experiences. Book now and embark on your next adventure!</p>    
              <p><a href="tel: +91 80861 47845" class="btn btn-white-outline border-w-2 btn-md text-uppercase">Contact Us</a></p>
            </div>
          </div>
        </div>

      </div>
      

    </div>
    
    
    <div class="pb-2" style="position: relative; z-index: 8;">
      <div class="container">
        <div class="row services_top">
          <div class="col-md-6 col-lg-6 mb-4 mb-lg-0">
            <img src="/static/qr_landing/images/cab_4.jpg" alt="Image" class="img-fluid mb-3">
            <h3 class="text-primary h4 mb-2">CABS</h3>
            <p>Enjoy hassle-free transportation with our reliable cab services. From airport transfers to city tours, our fleet of vehicles and professional drivers ensure comfortable rides, prompt pickups, and seamless travel experiences.</p>
            <!-- <p><a href="#">Read more</a></p> -->
          </div>
          <div class="col-md-6 col-lg-6 mb-4 mb-lg-0">
            <img src="/static/qr_landing/images/hotel_1.jpeg" alt="Image" class="img-fluid mb-3">
            <h3 class="text-primary h4 mb-2">HOTEL BOOKING</h3>
            <p>Find your perfect accommodation effortlessly with our convenient hotel booking platform. With a wide range of options to suit every budget and preference, we guarantee a comfortable stay and memorable hospitality at your chosen destination.</p>
            <!-- <p><a href="#">Read more</a></p> -->
          </div>
          <!-- <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <img src="/static/qr_landing/images/img_33.jpg" alt="Image" class="img-fluid mb-3">
            <h3 class="text-primary h4 mb-2">Drivers</h3>
            <p>Accusantium dignissimos voluptas rem consequatur ratione illo sit quasi.</p>
            <p><a href="#">Read more</a></p>
          </div> -->
        </div>
      </div>
    </div>

    <div class="pt-0 pb-4" style="position: relative; z-index: 8;background-color: #dbdbdb4b;" >
      <div class="container" >
        <div class="row">
          <div class="col-12 px-3 py-4">
            <div class="cntct_top" style="width: fit-content; margin: auto; text-align: center;">
              <span class="font-weight-bold h3 text-uppercase text-primary">Connect Now</span>
              <p class="mb-0"><span class="h4 font-weight-bold">Milayna cab</span><br>Nechoor, Ernakulam - 686664 </p>
              <h6><i class="fa-solid fa-envelope"></i> <a href="mailto:milaynacab@gmail.com" style="color: #939393;">milaynacab@gmail.com</a></h6>
              <div class="d-flex">
                <h6 class="mr-3"><i class="fa-solid fa-phone"></i> <a href="tel:+91 80861 47845">+91 80861 47845</a></h6>
                <h6><i class="fa-solid fa-phone"></i> <a href="tel:+91 80891 95567">+91 80891 95567</a></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="pt-5" id="investors-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="block-heading-1">
              <h2>Our Investors</h2>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3">
            <img src="/static/qr_landing/images/ac-nc-67336.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-3">
            <img src="/static/qr_landing/images/creyf-s.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-3">
            <img src="/static/qr_landing/images/showa-3.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-3">
            <img src="/static/qr_landing/images/trimble-2.svg" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div> -->

    <div class="site-section" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-6 mb-2">
            <figure class="block-img-video-1" data-aos="fade">
              <a href="https://vimeo.com/45830194" class="popup-vimeo">
                <span class="icon"><span class="icon-play"></span></span>
                <img src="/static/qr_landing/images/hero_1.jpg" alt="Image" class="img-fluid">
              </a>
            </figure>
          </div>
          <div class="col-lg-6 ml-auto">
            <h2 class="text-primary mb-4">Welcome to MILAYNA Cabs</h2>
            <p>Milayna Cabs, established in 2024, is a premier transportation provider serving Kerala, Tamil Nadu, and Karnataka. With a fleet boasting the latest sedan, SUV, and Tempo Travellers models, we ensure comfortable and reliable journeys. Our experienced, courteous drivers uphold our commitment to exceptional service. With over 20 fleets at our disposal, we cater to diverse travel needs with efficiency and professionalism. Milayna Cabs prides itself on punctuality, safety, and customer satisfaction, striving to exceed expectations with every ride. Experience seamless travel experiences with us as we navigate the roads, connecting you to your destination with ease.</p>
            <!-- <p><a href="#">Read More</a></p> -->
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-12">
            <p><b class="text-primary">Mission</b>: To provide safe, reliable, and efficient transportation solutions, connecting communities across Kerala, Tamil Nadu, and Karnataka with professionalism and integrity.</p>
            <p><b class="text-primary">Vision</b>: To be the leading transportation provider, recognized for our commitment to excellence, innovation, and customer satisfaction throughout the region.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
            <div class="block-counter-1">
              <span class="number"><span data-number="15">0</span></span>
              <span class="caption">Year of Experience</span>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
            <div class="block-counter-1">
              <span class="number"><span data-number="292">0</span></span>
              <span class="caption">Satisfied Customers</span>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
            <div class="block-counter-1">
              <span class="number"><span data-number="493">0</span></span>
              <span class="caption">Rides</span>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
            <div class="block-counter-1">
              <span class="number"><span data-number="45212">0</span></span>
              <span class="caption">Kilometers</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light" id="services-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <div class="block-heading-1">
              <h2>Our Services</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-6 mb-4">
            <span class="icon-taxi d-block mb-3 display-3 text-secondary"></span>
            <h3 class="text-primary h4 mb-2">CAB Service</h3>
            <p>Enjoy hassle-free transportation with our reliable cab services. From airport transfers to city tours, our fleet of vehicles and professional drivers ensure comfortable rides, prompt pickups, and seamless travel experiences.</p>
          </div>
          <div class="col-md-6 col-lg-6 mb-4">
            <span class="fas fa-hotel d-block mb-3 display-3 text-secondary"></span>
            <h3 class="text-primary h4 mb-2">HOTEL Bookings</h3>
            <p>Find your perfect accommodation effortlessly with our convenient hotel booking platform. With a wide range of options to suit every budget and preference, we guarantee a comfortable stay and memorable hospitality at your chosen destination.</p>
          </div>

          <!-- <div class="col-md-6 col-lg-4 mb-4">
            <span class="icon-user d-block mb-3 display-3 text-secondary"></span>
            <h3 class="text-primary h4 mb-2">Guides</h3>
            <p>Accusantium dignissimos voluptas rem consequatur ratione illo sit quasi.</p>
          </div> -->

        </div>
      </div>
    </div>



    <!-- <div class="site-section" id="team-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <div class="block-heading-1">
              <h2>Our Drivers</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="block-team-member-1 text-center rounded">
              <figure>
                <img src="/static/qr_landing/images/person_1.jpg" alt="Image" class="img-fluid rounded-circle">
              </figure>
              <h3 class="font-size-20 text-dark">Jean Smith</h3>
              <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Mining Expert</span>
              <p class="px-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repellat. At, soluta. Repellendus vero, consequuntur!</p>
              <div class="block-social-1">
                <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-facebook"></span></a>
                <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-twitter"></span></a>
                <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-instagram"></span></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="block-team-member-1 text-center rounded">
              <figure>
                <img src="/static/qr_landing/images/person_2.jpg" alt="Image" class="img-fluid rounded-circle">
              </figure>
              <h3 class="font-size-20 text-dark">Bob Carry</h3>
              <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Project Manager</span>
              <p class="px-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quia veritatis, nam quam obcaecati fuga.</p>
              <div class="block-social-1">
                <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-facebook"></span></a>
                <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-twitter"></span></a>
                <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-instagram"></span></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="block-team-member-1 text-center rounded">
              <figure>
                <img src="/static/qr_landing/images/person_3.jpg" alt="Image" class="img-fluid rounded-circle">
              </figure>
              <h3 class="font-size-20 text-dark">Ricky Fisher</h3>
              <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Engineer</span>
              <p class="px-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quidem, laudantium, illum minus numquam voluptas?</p>
              <div class="block-social-1">
                <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-facebook"></span></a>
                <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-twitter"></span></a>
                <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-instagram"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="site-section bg-light" id="vehiles-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <div class="block-heading-1">
              <h2>Our Vehicles</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="text-center rounded p-2" style="border: 1px solid #e9ecef;">
              <figure>
                <img src="/static/qr_landing/images/cab_5.jpg" alt="Image" class="img-fluid">
              </figure>
              <!-- <h3 class="font-size-20 text-dark">Toyota</h3> -->
              <!-- <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Mining Expert</span> -->
              <!-- <p class="px-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repellat. At, soluta. Repellendus vero, consequuntur!</p> -->
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="text-center rounded p-2" style="border: 1px solid #e9ecef;">
              <figure>
                <img src="/static/qr_landing/images/cab_6.jpg" alt="Image" class="img-fluid">
              </figure>
              <!-- <h3 class="font-size-20 text-dark">Toyota</h3> -->
              <!-- <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Mining Expert</span> -->
              <!-- <p class="px-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repellat. At, soluta. Repellendus vero, consequuntur!</p> -->
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="text-center rounded p-2" style="border: 1px solid #e9ecef;">
              <figure>
                <img src="/static/qr_landing/images/cab_7.jpg" alt="Image" class="img-fluid">
              </figure>
              <!-- <h3 class="font-size-20 text-dark">Toyota</h3> -->
              <!-- <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Mining Expert</span> -->
              <!-- <p class="px-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repellat. At, soluta. Repellendus vero, consequuntur!</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="text-center rounded p-2" style="border: 1px solid #e9ecef;">
              <figure>
                <img src="/static/qr_landing/images/cab_8.jpg" alt="Image" class="img-fluid">
              </figure>
              <!-- <h3 class="font-size-20 text-dark">Toyota</h3> -->
              <!-- <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Mining Expert</span> -->
              <!-- <p class="px-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repellat. At, soluta. Repellendus vero, consequuntur!</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="text-center rounded p-2" style="border: 1px solid #e9ecef;">
              <figure>
                <img src="/static/qr_landing/images/cab_9.jpg" alt="Image" class="img-fluid">
              </figure>
              <!-- <h3 class="font-size-20 text-dark">Toyota</h3> -->
              <!-- <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Mining Expert</span> -->
              <!-- <p class="px-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repellat. At, soluta. Repellendus vero, consequuntur!</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="text-center rounded p-2" style="border: 1px solid #e9ecef;">
              <figure>
                <img src="/static/qr_landing/images/cab_10.jpg" alt="Image" class="img-fluid">
              </figure>
              <!-- <h3 class="font-size-20 text-dark">Toyota</h3> -->
              <!-- <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Mining Expert</span> -->
              <!-- <p class="px-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repellat. At, soluta. Repellendus vero, consequuntur!</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="text-center rounded p-2" style="border: 1px solid #e9ecef;">
              <figure>
                <img src="/static/qr_landing/images/cab_14.jpeg" alt="Image" class="img-fluid">
              </figure>
              <!-- <h3 class="font-size-20 text-dark">Toyota</h3> -->
              <!-- <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Mining Expert</span> -->
              <!-- <p class="px-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repellat. At, soluta. Repellendus vero, consequuntur!</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="text-center rounded p-2" style="border: 1px solid #e9ecef;">
              <figure>
                <img src="/static/qr_landing/images/cab_12.jpg" alt="Image" class="img-fluid">
              </figure>
              <!-- <h3 class="font-size-20 text-dark">Toyota</h3> -->
              <!-- <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Mining Expert</span> -->
              <!-- <p class="px-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repellat. At, soluta. Repellendus vero, consequuntur!</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="text-center rounded p-2" style="border: 1px solid #e9ecef;">
              <figure>
                <img src="/static/qr_landing/images/cab_13.jpg" alt="Image" class="img-fluid">
              </figure>
              <!-- <h3 class="font-size-20 text-dark">Toyota</h3> -->
              <!-- <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Mining Expert</span> -->
              <!-- <p class="px-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repellat. At, soluta. Repellendus vero, consequuntur!</p> -->
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <!-- <div class="site-section" id="press-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="block-heading-1">
              <h2>Press Releases</h2>
            </div>
          </div>
          <div class="col-lg-8">
            <ul class="list-unstyled">
              <li class="mb-4 d-block d-md-flex">
                <div class="mr-5 mb-4">
                  <img src="/static/qr_landing/images/img_1.jpg" alt="Image" class="img-fluid">
                </div>
                <div>
                  <h2 class="h4"><a href="press-single.html" class="text-black">How To Invest In Investing Company</a></h2>
                  <span class="d-block text-secondary mb-4">Apr 19, 2019</span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur dolores voluptas obcaecati quo consequuntur mollitia facilis, perferendis molestias commodi adipisci.</p>
                </div>
              </li>

              <li class="mb-4 d-block d-md-flex">
                <div class="mr-5 mb-4">
                  <img src="/static/qr_landing/images/img_2.jpg" alt="Image" class="img-fluid">
                </div>
                <div>
                  <h2 class="h4"><a href="press-single.html" class="text-black">How To Invest In Investing Company</a></h2>
                  <span class="d-block text-secondary mb-4">Apr 19, 2019</span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur dolores voluptas obcaecati quo consequuntur mollitia facilis, perferendis molestias commodi adipisci.</p>
                </div>
              </li>

              <li class="mb-4 d-block d-md-flex">
                <div class="mr-5 mb-4">
                  <img src="/static/qr_landing/images/img_3.jpg" alt="Image" class="img-fluid">
                </div>
                <div>
                  <h2 class="h4"><a href="press-single.html" class="text-black">How To Invest In Investing Company</a></h2>
                  <span class="d-block text-secondary mb-4">Apr 19, 2019</span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur dolores voluptas obcaecati quo consequuntur mollitia facilis, perferendis molestias commodi adipisci.</p>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div> -->

    <div class="site-section block-13 overlay bg-image" id="testimonials-section" data-aos="fade" style="background-image: url('images/hero_1.jpg');">
      <div class="container">
        
        <div class="text-center mb-5">
          <div class="block-heading-1">
            <h2 class="text-white">Testimonial</h2>
          </div>
        </div>

        <div class="owl-carousel nonloop-block-13">
          <div>
            <div class="block-testimony-1 text-center">
              
              <blockquote class="mb-4">
                <p>&ldquo;Choosing Milayna Cab Services was the best decision for my business trip. Their professionalism and attention to detail exceeded my expectations. Seamless booking process and top-notch vehicles. Will definitely use them again!&rdquo;</p>
              </blockquote>

              <figure>
                <img src="/static/qr_landing/images/person_4.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
              </figure>
              <h3 class="font-size-20 text-white">James</h3>
            </div>
          </div>

          <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>&ldquo;Milayna Cab Services provided exceptional service during my vacation. From airport transfers to sightseeing tours, their friendly drivers and clean vehicles made exploring the city a breeze. Thank you for a wonderful experience!&rdquo;</p>
              </blockquote>

              <figure>
                <img src="/static/qr_landing/images/person_1.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
              </figure>
              <h3 class="font-size-20 text-white">Emily</h3>
            </div>
          </div>

          <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>&ldquo;I relied on Milayna Cab Services for my daily commute, and they never disappointed. Their reliable service, affordable rates, and comfortable rides made my journey stress-free. I highly recommend them for all transportation needs.&rdquo;</p>
              </blockquote>

              <figure>
                <img src="/static/qr_landing/images/person_3.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
              </figure>
              <h3 class="font-size-20 text-white">David</h3>
            </div>
          </div>

          <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>&ldquo;Milayna Cab Services surpassed all my expectations with their efficient service and professionalism. Whether it was a last-minute booking or a scheduled trip, they were always on time and provided a safe and comfortable ride. Truly impressed!&rdquo;</p>
              </blockquote>

              <figure>
                <img src="/static/qr_landing/images/person_1.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
              </figure>
              <h3 class="font-size-20 text-white">Jessica</h3>
            </div>
          </div>


        </div>

      </div>
    </div>

    <!-- <div class="site-section" id="blog-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <div class="block-heading-1">
              <span>Latest Blog Posts</span>
              <h2>Our Blog</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div>
              <a href="#" class="mb-4 d-block"><img src="/static/qr_landing/images/img_44.jpg" alt="Image" class="img-fluid rounded"></a>
              <h2><a href="#">How we make our car cool and clean?</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> By <a href="#" class="by">James Cooper</a></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat et suscipit iste libero neque. Vitae quidem ducimus voluptatibus nemo cum odio ab enim nisi, itaque, libero fuga veritatis culpa quis!</p>
              <p><a href="#">Get Started</a></p>
            </div>
          </div>
          <div class="col-lg-6">
            <div>
              <a href="#html" class="mb-4 d-block"><img src="/static/qr_landing/images/img_55.jpg" alt="Image" class="img-fluid rounded"></a>
              <h2><a href="#">How to ensure a better riding comfort?</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> By <a href="single.html" class="by">James Cooper</a></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat et suscipit iste libero neque. Vitae quidem ducimus voluptatibus nemo cum odio ab enim nisi, itaque, libero fuga veritatis culpa quis!</p>
              <p><a href="#">Read More</a></p>
            </div>
          </div>

        </div>
      </div>
    </div> -->

    <div class="site-section bg-light pt-5" id="gallery-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <div class="block-heading-1">
              <h2>Gallery</h2>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="text-center rounded p-2" style="border: 1px solid #e9ecef;">
              <figure>
                <img src="/static/qr_landing/gallery/g1.jpeg" alt="Image" class="img-fluid">
              </figure>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="text-center rounded p-2" style="border: 1px solid #e9ecef;">
              <figure>
                <img src="/static/qr_landing/gallery/g2.jpeg" alt="Image" class="img-fluid">
              </figure>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="text-center rounded p-2" style="border: 1px solid #e9ecef;">
              <figure>
                <img src="/static/qr_landing/gallery/g3.jpeg" alt="Image" class="img-fluid">
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="text-center rounded p-2" style="border: 1px solid #e9ecef;">
              <figure>
                <img src="/static/qr_landing/gallery/g4.jpeg" alt="Image" class="img-fluid">
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="text-center rounded p-2" style="border: 1px solid #e9ecef;">
              <figure>
                <img src="/static/qr_landing/gallery/g5.jpeg" alt="Image" class="img-fluid">
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="text-center rounded p-2" style="border: 1px solid #e9ecef;">
              <figure>
                <img src="/static/qr_landing/gallery/g7.jpeg" alt="Image" class="img-fluid">
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="text-center rounded p-2" style="border: 1px solid #e9ecef;">
              <figure>
                <img src="/static/qr_landing/gallery/g8.jpeg" alt="Image" class="img-fluid">
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="text-center rounded p-2" style="border: 1px solid #e9ecef;">
              <figure>
                <img src="/static/qr_landing/gallery/g9.jpeg" alt="Image" class="img-fluid">
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="text-center rounded p-2" style="border: 1px solid #e9ecef;">
              <figure>
                <img src="/static/qr_landing/gallery/g10.jpeg" alt="Image" class="img-fluid">
              </figure>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="text-center rounded p-2" style="border: 1px solid #e9ecef;">
              <figure>
                <img src="/static/qr_landing/gallery/g6.jpeg" alt="Image" class="img-fluid">
              </figure>
            </div>
          </div>

        </div>
        
      </div>
    </div>


    <div class="site-section bg-light" id="contact-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <div class="block-heading-1">
              <span>Get In Touch</span>
              <h2>Contact Us</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h2 class="text-black">Need to know more on details?<br>Connect Us</h2>
            <p class="mb-0"><span class="h4 font-weight-bold">Milayna cab</span><br>Nechoor, Ernakulam - 686664 </p>
            <h5><i class="fa-solid fa-envelope"></i> <a href="mailto:milaynacab@gmail.com" style="color: #939393;">milaynacab@gmail.com</a></h5>
            <h5><i class="fa-solid fa-phone"></i> <a href="tel:+91 80861 47845">+91 80861 47845</a></h5>
            <h5><i class="fa-solid fa-phone"></i> <a href="tel:+91 80891 95567">+91 80891 95567</a></h5>
            <a href="https://wa.me/+919400056444" target="_blank">
              <h4 class="text-black"><i class="fa-brands fa-square-whatsapp text-success"></i> Chat with us on WhatsApp</h4>
            </a>
            <p>Contact Us for Any Inquiries or Assistance - Whether you have questions about our services, need help with booking, or want to provide feedback, we're here to assist you. Reach out to us via phone, email, or our online contact form. We look forward to hearing from you!</p>
            <a href="tel:+91 80861 47845" class="btn btn-outline-secondary"><i class="fa-solid fa-phone"></i> CALL NOW</a>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section" id="feedback-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <div class="block-heading-1">
              <span>We value your opinion</span>
              <h2>Share Your Thoughts</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6 m-auto">
            <div class="feedback_form">
              <form action="{% url 'saveCustomerFeedback' %}" method="get" class="form" >
                <div class="form-group">
                  <!-- <label for="form-label">Full Name</label> -->
                  <input type="text" class="form-control" placeholder="Full Name.." name="full_name">
                </div>
                <div class="form-group">
                  <!-- <label for="form-label">Share your experience</label> -->
                  <textarea name="feedback" id="feedback" cols="" class="form-control" placeholder="Suggest on what areas where we need to improve.." rows="4" maxlength="500" required></textarea>
                </div>
                <div class="w-100 d-flex justify-content-center"><button type="submit" class="btn btn-outline-primary mt-2">SHARE FEEDBACK</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a href="https://wa.me/+919400056444?text=Hi" target="_blank" class="scrollwh" id="scroll-wh">             
      <i class='fab fa-whatsapp-square scrollwh__icon' ></i>
    </a>


    <footer class="site-footer pb-3">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-8">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facere laudantium magnam voluptatum autem. Amet aliquid nesciunt veritatis aliquam.</p>
              </div>
              <div class="col-md-4 ml-auto">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              
            </div>
          </div>
          <div class="col-md-4 ml-auto">

            <div class="mb-5">
              <div class="mb-5">
                <h2 class="footer-heading mb-4">Some Paragraph</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat nostrum libero iusto dolorum vero atque aliquid.</p>
              </div>
              <!-- <h2 class="footer-heading mb-4">Subscribe to Newsletter</h2> -->
              <form action="#" method="post">
                <!-- <div class="input-group mb-3">
                  <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary text-white" type="button" id="button-addon2">Subscribe</button>
                  </div>
                </div> -->
              </div>


              <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
            </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>

  </div>

  <script src="/static/qr_landing/js/jquery-3.3.1.min.js"></script>
  <script src="/static/qr_landing/js/jquery-ui.js"></script>
  <script src="/static/qr_landing/js/popper.min.js"></script>
  <script src="/static/qr_landing/js/bootstrap.min.js"></script>
  <script src="/static/qr_landing/js/owl.carousel.min.js"></script>
  <script src="/static/qr_landing/js/jquery.magnific-popup.min.js"></script>
  <script src="/static/qr_landing/js/jquery.sticky.js"></script>
  <script src="/static/qr_landing/js/jquery.waypoints.min.js"></script>
  <script src="/static/qr_landing/js/jquery.animateNumber.min.js"></script>
  <script src="/static/qr_landing/js/aos.js"></script>

  <script src="/static/qr_landing/js/main.js"></script>
  <script>
    const scrollUp = () =>{
      const scrollWh = document.getElementById('scroll-wh')
      // When the scroll is higher than 350 viewport height, add the show-scroll class to the a tag with the scrollup class
      this.scrollY >= 350 ? scrollWh.classList.add('show-scroll'): scrollWh.classList.remove('show-scroll')
  }
  window.addEventListener('scroll', scrollUp)
  </script>
    
  {%if messages%} {%for message in messages%} {%if message.tags == "success"%}
    <script>
      swal({
        position: "top-end",
        icon: "success",
        title: "{{message}}",
      });
    </script>
    {%elif message.tags == "warning"%}
    <script>
      swal({
        position: "top-end",
        icon: "warning",
        title: "{{message}}",
      });
    </script>
    {%elif message.tags == "error"%}
    <script>
      swal({
        position: "top-end",
        icon: "error",
        title: "{{message}}",
      });
    </script>
    {%else%}
    <script>
      swal({
        position: "top-end",
        icon: "info",
        title: "{{message}}",
      });
    </script>
    {%endif%} {%endfor%} {%endif%}
  </body>
</html>